{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="home-banner">
        <button>
            <a class="home-button" href="{% url 'online' %}">Online Order</a>
        </button>
        <button>
            <a class="home-button" href="{% url 'complaint' %}">Register Complaint</a>
        </button>
        <button>
            <a class="home-button" href="{% url 'signin' %}">Sign In</a>
        </button>
        <button>
            <a class="home-button" href="{% url 'signup' %}">Sign Up</a>
        </button>
        <h1>Welcome to LUVCAFE</h1>
    </div>
    
{% endblock %}